@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: 'Bebas Neue', serif;
  --font-body: 'DM Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #09090b;
  color: white;
}

input, button {
  font-family: var(--font-body);
}
